/*全域設定*/
* {
  /* border: 1px red solid; */
  box-sizing: border-box; /* 計算寬度時包含邊框和內距 */
}
html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: "Noto Sans TC", sans-serif; /* 設定字型 */
  font-weight: 700; /* 粗體 */
  color: #666666;
  font-size: 16px; /* 字體大小 */
}
/*電腦版 1920px*/

#signUpForm {
  display: none;
}
/* 背景遮罩 */
.pop-up-area {
  display: flex; /* 預設顯示 */
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.signUpFormContainer h2 {
  margin: 0 0 20px 0;
}
/* 彈跳視窗本體 */
.signUpFormContainer {
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(170, 170, 170, 1);
  text-align: center;
  width: 340px;
  height: 275;
  z-index: 2;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: none; /* 預設隱藏 */
}
.color {
  background-color: rgba(51, 119, 136, 1);
  height: 10px;
  width: 100%;
  z-index: 4;
  border-radius: 5px 5px 0 0;
}
.box {
  padding: 20px;
}
.closeSignUpForm {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}
.input {
  width: 310px;
  height: 47px;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid rgba(204, 204, 204, 1);
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 10px 0;
}
.message {
  color: red;
  display: none;
  margin: 0 0 10px 0;
}
/* 登入按鈕 */
.submit-btn {
  padding: 10px 20px;
  background: rgba(68, 136, 153, 1);
  color: white;
  border: none;
  cursor: pointer;
  width: 310px;
  height: 46px;
  border-radius: 5px;
  margin: 0 0 10px 0;
  z-index: 3;
  font-size: 19px;
  font-weight: 400;
}
.message_signin,
.message_signup {
  margin: 10px;
}
a#signUpLink,
a#signInLink {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/*header表頭*/
.taipei-trip-link {
  text-decoration: none;
  display: inline-block;
  width: 100%;
}
nav {
  padding: 15px;
  max-width: 1200px;
  width: 100%;
  height: 54px;
  margin: 0 auto; /* 左右自動調整，使元素水平居中 */
}
nav div {
  width: 100%; /* 讓導航欄撐滿畫面 */
  max-width: 1200px; /* 最大寬度 1200px */
  height: 34px; /* 高度 34px */
  display: flex; /* 使用 Flexbox 排版 */
  justify-content: space-between; /* 讓子元素左右對齊 */
  align-items: center; /* 垂直置中 */
}

nav .taipei-trip {
  color: #448899;
  max-width: fit-content;
  max-height: fit-content;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.for-nav {
  width: auto;
}

.nav-container .appointment {
  text-align: center; /* 文字置中 */
  white-space: nowrap; /* 防止文字換行 */
  padding: 10px;
  cursor: pointer;
}

.nav-container .sign-in {
  text-align: center; /* 文字置中 */
  white-space: nowrap; /* 防止文字換行 */
  padding: 10px;
  cursor: pointer;
}

.nav-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-container button h4 {
  font-size: 16px;
  font-weight: 500;
}

hr.separator-1 {
  width: 100%;
  border: 1px solid #e8e8e8;
  margin: 0 auto;
}
/*main*/
main {
  max-width: 1000px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*預定資訊*/
.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  margin: 40px 0 30px 0;
}
.headline-1,
.headline-2,
.headline-3 {
  margin: 20px auto 0 auto;
  font-weight: 700;
}

.order_number {
  margin: 20px auto 0 auto;
  font-weight: 400;
}
.headline-3 {
  margin: 20px auto 40px auto;
}

/*表尾*/
footer {
  background-color: #757575;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 0;
  font-size: 16px;
  font-weight: 700;
}
footer h2 {
  font-size: 16px;
}
